* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html *:focus {
    outline: none;
}

body {
    background: #131415;
    display: flex;
	flex-direction: column;
	align-items: center;
}

body.dark-mode {
    background-color: #111;
    color: #eee;
}

body.light-mode {
    background-color: #eee;
    color: #111;
}

body.light-mode a {
    color: #111;
}

body.light-mode p {
    background-color: #eee;
    color: #111;
}

body.light-mode .closure-example {
    background:  #fafafa;
    color: #0493d3;
    margin-left: 17px;
}

ul,ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
}

 header {
    padding: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
    
}

h2 {
    
    color: #eaeaea;
}

.header-text {
    color: #fafbfc;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 3rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}




.closure {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    color:#0493d3;
}

.switch-icon {
    font-size: 1.5rem;
    padding: 0.1em 0.3em;
    border-radius: 1.5em;
    background-color: #222;
    margin-left: 200px;
}

.icon_display {
    color: #fff;
    padding: 15px 0;
} 

p {
    color:  #eaeaea;
    font-size: 1.125rem;
    line-height: 1.8;
    padding: 1rem;
    
}

article {
    line-height: 1.9;
}


main {
    text-align: center;
    width: 700px;
}

.content-area {
    
    margin: 0 auto;
    width: 87%;
    text-align: left;
}

strong {
    font-size: 1.5rem;
}


.closure-example {
    background:  #1a1a1a;
    color: #0493d3;
    margin-left: 17px;
}